﻿@model ContentAggregator.Models.ContentViewModels.ContentCommentsViewModel

@{
    ViewData["Title"] = @Model.Content.Title;
}

<h2><a href="@Model.Content.Url">@Model.Content.Title</a></h2>
<span>@Model.Content.Description</span>

<div>
    <a asp-authorize asp-roles="Administrator" asp-action="Edit" asp-route-id="@Model.Content.ContentId">Edit</a> |
    <a asp-action="Index">Back to browsing</a>
</div>

<h4>Comments</h4>
<div><a asp-controller="Comment" asp-action="Add" asp-route-contentId="@Model.Content.ContentId">Add comment</a></div>

@foreach (var item in Model.Comments)
{
    if (item.IsRemoved)
    {
<div asp-authorize asp-roles="Administrator" style="margin-bottom: 25px">
    <div><strong>@item.UserId</strong></div>
    <div><i style="color: red">Removed comment</i></div>
    <div>@item.Text</div>
    <div asp-authorize asp-roles="Administrator"><a asp-controller="Comment" asp-action="BringBack" asp-route-commentId="@item.CommentsId">Bring back</a></div>
</div>
    }
     else
     {
         <div style="margin-bottom: 25px">
             <div><strong>@item.UserId</strong></div>
             <div>@item.Text</div>
             <div asp-authorize asp-roles="Administrator"><a asp-controller="Comment" asp-action="Remove" asp-route-commentId="@item.CommentsId">Remove</a></div>
         </div>
     }
}