﻿@model IEnumerable<ContentAggregator.Models.Content>

@{
    ViewData["Title"] = "Browse";
}

<p>
    <a asp-action="Create">Add new!</a>
</p>

@foreach (var item in Model)
{
    <div>
        <h3><a asp-action="Details" asp-route-id="@item.ContentId">@item.Title</a></h3>
        <a href="@item.Url">(Direct URL)</a><br/>
        <span>@item.Description</span><br/>
        <span><strong>Rating:</strong> 12345</span><br/>
        <span><a>12345 comments</a></span><br/>
    </div>
}