﻿@model IEnumerable<ContentAggregator.Models.Content>

@{
    ViewData["Title"] = "Browse";
}

<p>
    <a asp-action="Create">Add new!</a>
</p>

@foreach (var item in Model)
{
    <div>
        <h3><a asp-action="Details" asp-route-id="@item.ContentId">@item.Title</a></h3>
        <a href="@item.Url">(Direct URL)</a><br/>
        <span>@item.Description</span><br/>
        <div asp-authorize asp-roles="Administrator">
            <a asp-action="Approve" asp-route-contentId="@item.ContentId">Accept</a> | 
            <a asp-action="Reject" asp-route-contentId="@item.ContentId">Reject</a>
        </div>
    </div>
}