﻿@model ContentAggregator.Models.ContentViewModels.ContentCollectionViewModel

@{
    ViewData["Title"] = "AdminPanel - Content";
}

<link rel="stylesheet" href="~/css/tables.css" />

<h2>Approved</h2>
<table>
    <tr>
        <th class="height padding">Id</th>
        <th class="height padding">Title</th>
        <th class="height padding">Url</th>
        <th class="height padding">Actions</th>
    </tr>

    @foreach (var item in Model.Approved)
    {
        <tr class="padding">
            <td class="padding">@item.ContentId</td>
            <td class="padding">@item.Title</td>
            <td class="padding">@item.Url</td>
            <td class="padding">
                <a asp-controller="Content" asp-action="Edit" asp-route-id="@item.ContentId">Edit</a>
            </td>
        </tr>
    }
</table>

<h2>Rejected</h2>
<table>
    <tr>
        <th class="height padding">Id</th>
        <th class="height padding">Title</th>
        <th class="height padding">Url</th>
        <th class="height padding">Actions</th>
    </tr>

    @foreach (var item in Model.Rejected)
    {
        <tr class="padding">
            <td class="padding">@item.ContentId</td>
            <td class="padding">@item.Title</td>
            <td class="padding">@item.Url</td>
            <td class="padding">
                <a asp-controller="Content" asp-action="Edit" asp-route-id="@item.ContentId">Edit</a>
            </td>
        </tr>
    }
</table>

<h2>Submitted</h2>
<table>
    <tr>
        <th class="height padding">Id</th>
        <th class="height padding">Title</th>
        <th class="height padding">Url</th>
        <th class="height padding">Actions</th>
    </tr>

    @foreach (var item in Model.Submitted)
    {
        <tr class="padding">
            <td class="padding">@item.ContentId</td>
            <td class="padding">@item.Title</td>
            <td class="padding">@item.Url</td>
            <td class="padding">
                <a asp-controller="Content" asp-action="Edit" asp-route-id="@item.ContentId">Edit</a>
            </td>
        </tr>
    }
</table>