﻿@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "AdminPanel - Users";
}

<link rel="stylesheet" href="~/css/tables.css" />

<h2>Users</h2>
<table>
    <tr>
        <th class="height padding">Id</th>
        <th class="height padding">Username</th>
        <th class="height padding">Email</th>
        <th class="height padding">Email confirmed</th>
        <th class="height padding">Two factor auth</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr class="padding">
        <td class="padding">@item.Id</td>
        <td class="padding">@item.UserName</td>
        <td class="padding">@item.Email</td>
        <td class="padding">@item.EmailConfirmed</td>
        <td class="padding">@item.TwoFactorEnabled</td>
    </tr>
    }
</table>