﻿@model ContentAggregator.Models.CommentsViewModels.CommentsViewModel

@{
    ViewData["Title"] = "Add comment";
}

<h2>Add comment</h2>

<h2><a href="@Model.Content.Url">@Model.Content.Title</a></h2>
<span>@Model.Content.Description</span>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" asp-route-comment="@Model.Comment" asp-route-contentId="@Model.Content.ContentId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comment.Text" class="control-label"></label>
                <textarea asp-for="Comment.Text" class="form-control"></textarea>
                <span asp-validation-for="Comment.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Content" asp-action="Details" asp-route-id="@Model.Content.ContentId">Back to Content</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
